
  .gridView{
    display: none;
  }
  .gridView.display{
    display: block;
  }
  .list{
    display: none;
  }
  .list.display{
    display: block;
  }
  .stock.display{
    display: block;
  }
  .stock{
    display: none;
  }